/* Dropdown Button */
.dropbtn {
  flex: 1;
  margin: 0;
  padding: 0;
  /* margin: 0; */
  /* padding: 0px 4px; */
  font-size: 14px;
  font-family: "Trebuchet MS";
  color: var(--c1);
  background: #ffffff15;
  border: solid 1px var(--c2);
  border-radius: 2px;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  flex: 1;
  display: flex;
  position: absolute;
/*   margin-right: 6px; */
  margin: 0;
  padding: 0;
  left: 50vw;
  top: 50vh;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  visibility: visible;
  position: absolute;
  min-width: 160px;
/*   min-height: 200px; */
  max-height: 200px;
  top: 2px;
  background: #eee; /* #111 */
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
/*   border: solid 1px gray; */
  z-index: 1;
  overflow: auto;
}

/* Links inside the dropdown */
.dropdown-content a {
  display: block;
  padding: 4px 6px;
  color: #111;
  font-size: 16px;
  text-decoration: none;
}

.dropdown-content a span {
  user-select: none;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  --start: 1;
  background: linear-gradient(
        to right,
        #eee calc(var(--start) * 100% - 100%),
        #bbccff calc(var(--start) * 100% - 10%),
        #bbccff calc(var(--start) * 100% + 10%),
        #eee calc(var(--start) * 100% + 100%)
    );
  /* background: linear-gradient(to left, #88aaff, #eee 120%); */
}

/* Show the dropdown menu on hover */
/* .dropdown:hover .dropdown-content {
    display: block;
} */

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropbtn:hover {
  background-color: #ffffff20;
}

.dropbtn:active {
  background: #ffffff15;
}

/* Scroll bars */
/* For WebKit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 5px; /* Set the width of the scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: #bbb; /* Set the color of the scrollbar thumb */
}
